<!DOCTYPE html><html><head><meta charset="utf-8"><title>Swarm Dashboard</title>
<!--    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>-->
    <script src="./lib/axios.min.js"></script>
    <script src="./lib/vue.min.js"></script>
    <link rel="stylesheet" href="./lib/iview.css">
    <script src="./lib/iview.min.js"></script>
</head>
<body>
<div id="app">
    <Card dis-hover>
        节点数量：<Tag color="success">{{bees.length}}</Tag>
        在线：<Tag color="success">{{bees.length-nodeErrorNum}}</Tag>
        离线 ：<Tag color="error">{{nodeErrorNum}}</Tag>
        支票总数 ：<Tag color="success">{{allCheque}}</Tag>
        有效支票总数 ：<Tag color="success">{{toCheque}}</Tag>
        无效支票总数 ：<Tag >{{allCheque -toCheque}}</Tag>
<!--        gBZZ总额度 ：<Tag color="success">3.8</Tag>-->
<!--         <i-button type="success">全部提取</i-button>-->
    </Card>
    <br>
    <i-table :columns="header" :data="bees" :width="1100" show-summary :summary-method="handleSummary" size="small">
        <template slot-scope="{ row }" slot="name">
            <a :href="row.addresses"  target="_blank"> 名字:{{ row.name }}</a>
            <br/>
            <a :href="row.addresses"  target="_blank"> 版本:{{ row.version.substring(0,5) }}</a>
        </template>
        <template slot-scope="{ row }" slot="unCashoutPeers">
            <strong>{{ row.unCashoutPeers? row.unCashoutPeers.length:0 }}</strong>
        </template>
        <template slot-scope="{ row }" slot="countPeers">
            <a :href="row.peers"  target="_blank">{{ row.countPeers }}</a>
        </template>
        <template slot-scope="{ row }" slot="countChequebook">
            <a :href="row.chequebook"  target="_blank">
                <strong >{{ row.allChequebookNum }}</strong>/
                <strong style="color: #21ac38" >{{ row.countChequebook }}</strong>/
                <span style="color: #fa0352">{{ row.allChequebookNum - row.countChequebook}}</span>
            </a>
        </template>
        <template slot-scope="{ row }" slot="status">
            <Tag color="success" v-if="row.status === '良好'">在线</Tag>
            <Tag color="error"  v-if="row.status === '离线'">离线</Tag>
            <Tag v-if="row.status === 0">连接中</Tag>
        </template>
        <template slot-scope="{ row,index }" slot="handle">
            <i-button @click="cashout(index)" v-if="row.chequebookStatus === 0" :loading="true" size="small"> 加载中</i-button>&nbsp;
            <i-button @click="cashout(index)" v-if="row.chequebookStatus === 1" type="success"
                      :disabled="row.unCashoutPeers.length===0" size="small"> 提现
            </i-button>&nbsp;
            <i-button @click="cashout(index)" v-if="row.chequebookStatus === 2" type="warning" :loading="true" size="small"> 提现中
            </i-button>&nbsp;
        </template>
        <template slot-scope="{ row,index }" slot="link">
            <a @click="linkAdress(index)"  > 钱包</a>&nbsp;
            <a @click="linkContract(index)" > 支票</a>&nbsp;
        </template>

    </i-table>
    <Card  style="width: 160px;position: absolute;right:5px;top:80px">
        <p slot="title">问题</p>
        <p>1.区块浏览器需要梯子才能访问！ </p>
        <p>2.待提现支票可能已经提过，可能是区块卡住.多提值为0！ </p>
        <p>3.手动添加节点需要工具！ </p>
        <p>4.刷新即可刷新页面数据！ </p>
    </Card >
    <!--    <h5>BEE 列表</h5>  <i-button>一键提票</i-button>&nbsp;-->
    <!--    <div v-for="(bee,index) in bees" :key="index">-->
    <!--        Bee {{index+1}} :-->
    <!--        <span>version-{{bee.version}}</span>&nbsp;&nbsp;-->
    <!--        <span>状态-{{bee.status}}</span>&nbsp;-->

    <!--        <a :href="bee.chequebook" target="_blank">支票({{bee.countChequebook}})</a>&nbsp;-->
    <!--        <a :href="bee.peers" target="_blank">peers({{bee.countPeers}})</a>&nbsp;-->
    <!--        <a :href="bee.chequebookaddr" target="_blank">支票地址</a>&nbsp;-->
    <!--        <a :href="bee.addresses" target="_blank">钱包地址</a>&nbsp;-->
    <!--        <a >待提现数量{{bee.unCashoutPeers ? bee.unCashoutPeers.length : 0}}</a>&nbsp;-->
    <!--        <i-button @click="cashout">提票</i-button>-->

    <!--    </div>-->
</div>
<script type="text/javascript">
    let router = new Vue({
        el: '#app',
        data() {
            return {
                header: [
                    {
                        title: '节点',
                        key: 'name',
                        slot: 'name',

                    },
                    {
                        title: '状态',
                        slot: 'status',
                        width: 100
                    },
                    {
                        title: 'IP',
                        key: 'ip',
                        width: 145
                    },
                    {
                        title: '端口',
                        key: 'port',
                        width: 100
                    },
                    {
                        title: '连接数',
                        slot: 'countPeers',
                        key: 'countPeers',
                        sortable: true,
                        width: 100
                    },
                    {
                        title: '支票',
                        key: 'countChequebook',
                        slot: 'countChequebook',
                        sortable: true,
                        width: 100,
                        renderHeader: (h, params) => {
                            console.log(params)
                            return h('span', [
                                    h('span', {
                                        //<Icon type="md-help" />
                                        domProps: {
                                            innerHTML: "支票"
                                        }
                                    }), h('a', {
                                    domProps: {
                                            title: "总数/有效/无效"
                                        }
                                    },"  ？"
                                )
                            ],"");
                        }
                    },
                    {
                        title: '待提现',
                        slot: 'unCashoutPeers',
                        sortable: true,
                        width: 100
                    },
                    {
                        title: '操作',
                        slot: 'handle',
                        width: 150
                    },{
                        title: '区块浏览器',
                        slot: 'link',
                        width: 120
                    },
                ],
                bees: [],
                nodeErrorNum:0,
                toCheque:0,
                allCheque:0,
            }
        },
        methods: {
            handleSummary ({ columns, data }) {
                const sums = {};
                columns.forEach((column, index) => {
                    const key = column.key;
                    if (index === 0) {
                        sums[key] = {
                            key,
                            value: '汇总'
                        };
                        return;
                    }
                    if (index === 3) {
                        sums[key] = {
                            key,
                            value: ''
                        };
                        return;
                    }  if (index === 4) {
                        sums[key] = {
                            key,
                            value: ''
                        };
                        return;
                    }
                    const values = data.map(item => Number(item[key]));
                    if (!values.every(value => isNaN(value))) {
                        const v = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        sums[key] = {
                            key,
                            value: v + ' 张'
                        };
                    } else {
                        sums[key] = {
                            key,
                            value: ''
                        };
                    }
                });
                return sums;
            },
            linkAdress(index){
                axios.get(this.bees[index].proxyUrl + '/addresses').then(resp => {
                    window.open("https://goerli.etherscan.io/address/"+resp.data.ethereum)
                })
            },
            linkContract(index){
                axios.get(this.bees[index].proxyUrl + '/chequebook/address').then(resp => {
                     window.open("https://goerli.etherscan.io/address/"+resp.data.chequebookaddress+"#tokentxns")
                })
            },
            cashout(index) {
                this.bees[index].chequebookStatus = 2
                let bee = this.bees[index];
                let unCashoutPeers = bee.unCashoutPeers
                axios.all(unCashoutPeers.map((peer,i) => {
                    return axios.post(this.bees[index].proxyUrl + '/chequebook/cashout/' + unCashoutPeers[i])
                })).then(
                    axios.spread((arr) => {
                        console.log(arr)
                        console.log('全部加载完成')
                        this.bees[index].unCashoutPeers = []
                        this.bees[index].chequebookStatus = 1
                    })
                ).catch(err => {
                    console.log(err.response)
                });
                // for (let i = 0; i < unCashoutPeers.length; i++) {
                //     console.log(unCashoutPeers[i])
                //     axios.post(this.bees[index].proxyUrl + '/chequebook/cashout/' + unCashoutPeers[i]).then(resp => {
                //         console.log(resp.data)
                //         this.bees[index].unCashoutPeers.splice(i, 1)
                //
                //     })
                // }
            },
        },

        mounted() {
            axios.get('/MySwarm.conf').then(resp => {
                let beesTempArrarr = resp.data.Swarm
                beesTempArrarr.forEach(beesTemp => {
                    this.bees.push({
                                name: beesTemp.Name,
                                ip: beesTemp.Server,
                                port: beesTemp.Port
                            })
                })

            // for (let i = 1; i < 8; i++) {
            //     this.bees.push({
            //         name: "bee" +i,
            //         ip: "127.0.0.1",
            //         port: i+"635"
            //     })}

            let tmp = "嘻嘻嘻 爱我吧"+"\n\n"
            this.bees = this.bees.map((bee, index) => {
                let no = index + 1;
                let host = 'http://' + bee.ip + ':' + bee.port;
                // console.log(host)
                let ng = "   location  /"+no+"/  {  proxy_pass " +host+"/;}" +"\n"
                // console.log(ng)
                tmp=tmp+ng
                return {
                    chequebook: host + "/chequebook/cheque",
                    peers: host + "/peers",
                    addresses: host + "/addresses",
                    chequebookaddr: host + "/chequebook/address",
                    countPeers: 0,

                    chequebookStatus: 0,
                    status: 0,
                    nodeNum: this.bees.length,
                    nodeErrorNum: 0,
                    version: "",
                    countChequebook: 0,
                    allChequebookNum: 0,
                    chequebookPeers: [],
                    unCashoutPeers: [],
                    uncashBalance: 0,
                    balance: 0,
                    proxyUrl: 'http://localhost/' + no,
                    ...bee
                }
            })
            console.log(tmp)
            for (let i = 0; i < this.bees.length; i++) {
                axios.get(this.bees[i].proxyUrl + '/health').then(resp => {
                    this.bees[i].version = resp.data.version
                    if(resp.data.status ==='ok'){
                        this.bees[i].status = '良好'
                    }
                    axios.get(this.bees[i].proxyUrl + '/peers').then(resp => {
                        this.bees[i].countPeers = resp.data.peers.length
                    })

                    axios.get(this.bees[i].proxyUrl + '/chequebook/balance').then(resp => {
                         console.log(this.bees[i].name +" :"+ JSON.stringify(resp.data))
                    })
                    axios.get(this.bees[i].proxyUrl + '/chequebook/cheque').then(resp => {
                        this.bees[i].countChequebook = 0
                        if (resp.data.lastcheques.length > 0) {
                            this.bees[i].allChequebookNum  =  this.bees[i].allChequebookNum + resp.data.lastcheques.length
                            let arr = resp.data.lastcheques
                            if(resp.data.lastcheques){
                                this.allCheque = this.allCheque + resp.data.lastcheques.length
                            }
                            arr.forEach(m => {
                                if (m.lastreceived) {
                                    this.toCheque++

                                    this.bees[i].countChequebook++
                                    this.bees[i].chequebookPeers.push({
                                        peer: m.peer,
                                        payOut: m.lastreceived.payout
                                    })
                                }
                            })
                            // console.log(this.bees[i].chequebookPeers)
                            if(this.bees[i].chequebookPeers.length === 0){
                                this.bees[i].chequebookStatus = 1
                            }
                            // do then
                            this.bees[i].chequebookPeers.forEach(trat => {
                                axios.get(this.bees[i].proxyUrl + '/chequebook/cashout/' + trat.peer).then(resp => {
                                    if (trat.payOut > resp.data.cumulativePayout) {
                                        // console.log(trat.peer)
                                        this.bees[i].unCashoutPeers.push(trat.peer)
                                    }
                                }).catch(err => {
                                        if (err.response.data.code === 404) {
                                            this.bees[i].unCashoutPeers.push(trat.peer)
                                        } else if (err.response.data.code === 500) {
                                            this.bees[i].unCashoutPeers.push(trat.peer)
                                        }
                                    })

                            })
                        }
                    })
                }).catch(err=>{
                    this.bees[i].status = '离线'
                    this.nodeErrorNum++
                })
                this.bees[i].chequebookStatus = 1
            }
            // setTimeout(() => {
            //     for (let i = 0; i < this.bees.length; i++) {
            //         let chequebookPeers = this.bees[i].chequebookPeers
            //         chequebookPeers.forEach(trat => {
            //             axios.get(this.bees[i].proxyUrl + '/chequebook/cashout/' + trat.peer).then(resp => {
            //                 if (trat.payOut > resp.data.cumulativePayout) {
            //                     // console.log(trat.peer)
            //                     this.bees[i].unCashoutPeers.push(trat.peer)
            //                 }
            //             })
            //                 .catch(err => {
            //                     if (err.response.data.code === 404) {
            //                         this.bees[i].unCashoutPeers.push(trat.peer)
            //                     } else if (err.response.data.code === 500) {
            //                         this.bees[i].unCashoutPeers.push(trat.peer)
            //                     }
            //
            //                 })
            //         })
            //         this.bees[i].chequebookStatus = 1
            //     }
            // }, 1500)

            })
        }

    })
</script>
</body>
</html>