<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Swarm</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
    <!--    <meta http-equiv="Refresh" content="600">-->
</head>
<body>
<div id="app">
    <i-table :columns="header" :data="bees" :width="1100">
        <template slot-scope="{ row }" slot="name">
            <a :href="row.addresses"  target="_blank">{{ row.name }}</a>
        </template>
        <template slot-scope="{ row }" slot="unCashoutPeers">
            <strong>{{ row.unCashoutPeers? row.unCashoutPeers.length:0 }}</strong>
        </template>
        <template slot-scope="{ row }" slot="countPeers">
            <a :href="row.peers"  target="_blank">{{ row.countPeers }}</a>
        </template>
        <template slot-scope="{ row }" slot="countChequebook">
            <a :href="row.chequebook"  target="_blank">{{ row.countChequebook }}</a>
        </template>
        <template slot-scope="{ row }" slot="status">
            <Tag color="success" v-if="row.status === '良好'">在线</Tag>
            <Tag color="error"  v-if="row.status === '离线'">离线</Tag>
            <Tag v-if="row.status === 0">连接中</Tag>
        </template>
        <template slot-scope="{ row,index }" slot="handle">
            <i-button @click="cashout(index)" v-if="row.chequebookStatus === 0" :loading="true" size="small"> 加载中</i-button>&nbsp;
            <i-button @click="cashout(index)" v-if="row.chequebookStatus === 1" type="success"
                      :disabled="row.unCashoutPeers.length===0" size="small"> 提现
            </i-button>&nbsp;
            <i-button @click="cashout(index)" v-if="row.chequebookStatus === 2" type="warning" :loading="true" size="small"> 提现中
            </i-button>&nbsp;
        </template>
        <template slot-scope="{ row,index }" slot="link">

            <i-button @click="linkAdress(index)"  size="small"> 钱包</i-button>&nbsp;
            <i-button @click="linkContract(index)"  size="small"> 支票</i-button>&nbsp;
        </template>

    </i-table>

    <!--    <h5>BEE 列表</h5>  <i-button>一键提票</i-button>&nbsp;-->
    <!--    <div v-for="(bee,index) in bees" :key="index">-->
    <!--        Bee {{index+1}} :-->
    <!--        <span>version-{{bee.version}}</span>&nbsp;&nbsp;-->
    <!--        <span>状态-{{bee.status}}</span>&nbsp;-->

    <!--        <a :href="bee.chequebook" target="_blank">支票({{bee.countChequebook}})</a>&nbsp;-->
    <!--        <a :href="bee.peers" target="_blank">peers({{bee.countPeers}})</a>&nbsp;-->
    <!--        <a :href="bee.chequebookaddr" target="_blank">支票地址</a>&nbsp;-->
    <!--        <a :href="bee.addresses" target="_blank">钱包地址</a>&nbsp;-->
    <!--        <a >待提现数量{{bee.unCashoutPeers ? bee.unCashoutPeers.length : 0}}</a>&nbsp;-->
    <!--        <i-button @click="cashout">提票</i-button>-->

    <!--    </div>-->
</div>
<script type="text/javascript">
    let router = new Vue({
        el: '#app',
        data() {
            return {
                header: [
                    {
                        title: 'Name',
                        key: 'name',
                        slot: 'name',

                    },
                    {
                        title: '状态',
                        slot: 'status',
                        width: 100
                    },
                    {
                        title: 'IP',
                        key: 'ip',
                        width: 145
                    },
                    {
                        title: '端口',
                        key: 'port',
                        width: 100
                    },
                    {
                        title: '连接数',
                        slot: 'countPeers',
                        key: 'countPeers',
                        sortable: true
                    },
                    {
                        title: '支票',
                        key: 'countChequebook',
                        slot: 'countChequebook',
                        sortable: true
                    },
                    {
                        title: '待提现',
                        slot: 'unCashoutPeers'
                    },
                    {
                        title: '操作',
                        slot: 'handle',
                        width: 150
                    },{
                        title: '区块浏览器',
                        slot: 'link',
                        width: 150
                    },
                ],
                bees: []
            }
        },
        methods: {
            linkAdress(index){
                axios.get(this.bees[index].proxyUrl + '/addresses').then(resp => {
                    window.open("https://goerli.etherscan.io/address/"+resp.data.ethereum)
                })
            },
            linkContract(index){
                axios.get(this.bees[index].proxyUrl + '/chequebook/address').then(resp => {
                     window.open("https://goerli.etherscan.io/address/"+resp.data.chequebookaddress+"#tokentxns")
                })
            },
            cashout(index) {
                this.bees[index].chequebookStatus = 2
                let bee = this.bees[index];
                let unCashoutPeers = bee.unCashoutPeers
                axios.all(unCashoutPeers.map((peer,i) => {
                    return axios.post(this.bees[index].proxyUrl + '/chequebook/cashout/' + unCashoutPeers[i])
                })).then(
                    axios.spread((arr) => {
                        console.log(arr)
                        console.log('全部加载完成')
                        this.bees[index].unCashoutPeers = []
                        this.bees[index].chequebookStatus = 1
                    })
                ).catch(err => {
                    console.log(err.response)
                });
                // for (let i = 0; i < unCashoutPeers.length; i++) {
                //     console.log(unCashoutPeers[i])
                //     axios.post(this.bees[index].proxyUrl + '/chequebook/cashout/' + unCashoutPeers[i]).then(resp => {
                //         console.log(resp.data)
                //         this.bees[index].unCashoutPeers.splice(i, 1)
                //
                //     })
                // }
            },
        },

        mounted() {
            for (let i = 1; i < 2; i++) {
                this.bees.push({
                    name: "bee" +i,
                    ip: "127.0.0.1",
                    port: i+"635"
                })}

            this.bees = this.bees.map((bee, index) => {
                let no = index + 1;
                let host = 'http://' + bee.ip + ':' + bee.port;
                console.log(host)
                return {
                    chequebook: host + "/chequebook/cheque",
                    peers: host + "/peers",
                    addresses: host + "/addresses",
                    chequebookaddr: host + "/chequebook/address",
                    countPeers: 0,
                    countChequebook: 0,
                    chequebookStatus: 0,
                    status: 0,
                    version: "",
                    balance: null,
                    chequebookPeers: [],
                    unCashoutPeers: [],
                    proxyUrl: 'http://localhost/' + no,
                    ...bee
                }
            })
            for (let i = 0; i < this.bees.length; i++) {
                axios.get(this.bees[i].proxyUrl + '/health').then(resp => {
                    this.bees[i].version = resp.data.version
                    if(resp.data.status ==='ok'){
                        this.bees[i].status = '良好'
                    }
                    axios.get(this.bees[i].proxyUrl + '/peers').then(resp => {
                        this.bees[i].countPeers = resp.data.peers.length
                    })

                    axios.get(this.bees[i].proxyUrl + '/chequebook/cheque').then(resp => {
                        this.bees[i].countChequebook = 0
                        if (resp.data.lastcheques.length > 0) {
                            let arr = resp.data.lastcheques
                            arr.forEach(m => {
                                if (m.lastreceived) {
                                    this.bees[i].countChequebook++
                                    this.bees[i].chequebookPeers.push({
                                        peer: m.peer,
                                        payOut: m.lastreceived.payout
                                    })
                                }
                            })
                        }
                    })
                }).catch(err=>{
                    this.bees[i].status = '离线'
                })
            }
            setTimeout(() => {
                for (let i = 0; i < this.bees.length; i++) {
                    let chequebookPeers = this.bees[i].chequebookPeers
                    chequebookPeers.forEach(trat => {
                        axios.get(this.bees[i].proxyUrl + '/chequebook/cashout/' + trat.peer).then(resp => {
                            if (trat.payOut > resp.data.cumulativePayout) {
                                // console.log(trat.peer)
                                this.bees[i].unCashoutPeers.push(trat.peer)
                            }
                        })
                            .catch(err => {
                                if (err.response.data.code === 404) {
                                    this.bees[i].unCashoutPeers.push(trat.peer)
                                } else if (err.response.data.code === 500) {
                                    this.bees[i].unCashoutPeers.push(trat.peer)
                                }

                            })
                    })
                    this.bees[i].chequebookStatus = 1
                }
            }, 1500)


        }
    })
</script>
</body>
</html>